---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const demo = [
  {
    title: "Sebagai Lead Magnet",
    description:
      "Cara efektif mengumpulkan alamat email dari audience Anda dengan membagikan produk gratis. Integrasikan dengan platform email marketing favorit Anda.",
    url: "https://demo.jetform.id/john/free-product",
  },
  {
    title: "Jual produk premium",
    description:
      "Jual produk dengan mudah tanpa perlu membuat website. Pembeli langsung mendapatkan akses begitu pembayaran berhasil.",
    url: "https://demo.jetform.id/john/paid-product",
  },
  {
    title: "Jual produk dengan varian",
    description:
      "Jual produk dengan varian berbeda dalam satu form checkout.",
    url: "https://demo.jetform.id/john/produk-with-variants",
  },
  {
    title: "Pay as you want",
    description:
      "Berikan kebebasan kepada pembeli untuk memberikan harga yang ingin mereka bayar.",
    url: "https://demo.jetform.id/john/bayar-suka-suka",
  },
  {
    title: "Tampilkan dalam popup widget",
    description:
      "Tingkatkan kepercayaan pembeli dengan menampilkan produk dalam popup widget di website Anda.",
    url: "https://demo.jetform.id/embed/deed6bf6-f3c3-46f4-8199-e0f1fdb0e032",
    popup: true,
    badge: true
  },
  {
    title: "Admin Demo",
    description: "Login sebagai penjual. Gunakan email -> demo@jetform.id dan password -> jetform-demo-pass!",
    url: "https://demo.jetform.id/signin",
  },
];
---

<Layout title="Demo">
  <Container class="bg-gradient-to-b from-primary-50 via-white pb-10">
    <Sectionhead>
      <Fragment slot="title">Trust but verify.</Fragment>
      <Fragment slot="desc">Jangan percaya begitu saja kata-kata kami sebelum Anda melihat, mencoba, dan merasakan sendiri pengalamannya.</Fragment>
    </Sectionhead>
    <div class="grid sm:grid-cols-2 md:grid-cols-2 mt-10 gap-4 md:gap-8">
      {
        demo.map((item) => (
          <a href={item.url} target="_blank" class={item.popup ? "jetform-button" : ""}>
          <div class="flex gap-4 items-start border rounded-md shadow-md text-center p-6 bg-white">
            <div>
              <h3 class="font-semibold text-lg text-primary-600">
                {item.title}
                {item.badge && (
                  <span class="px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-primary-500 rounded-full">baru</span>
                )}
              </h3>
              <p class="text-slate-500 mt-2 leading-relaxed">
                {item.description}
              </p>
            </div>
          </div>
        </a>
        ))
      }
    </div>
  </Container>
</Layout>
