---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import Accordion from "@components/ui/accordion.astro";

const pricing = [
  {
    name: "Komisi per transaksi",
    price: { monthly: "5%", original: "10%" },
    popular: true,
    features: [
      "Jumlah produk tidak dibatasi (unlimited)",
      "Volume transaksi tidak dibatasi (unlimited)",
      "Biaya transaksi penarikan dana Rp. 5,000 (Midtrans)",
      "Support via Email dan WhatsApp",
      ["Statistik produk dan analytics", "segera hadir"],
      ["Download data produk, pembeli dan order", "segera hadir"],
      ["Integrasi dengan platform lain melalui Zapier", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me?utm_source=pricing_btn&utm_medium=website",
    },
  },
  // {
  //   name: "Paket Bulanan",
  //   price: "Custom",
  //   popular: false,
  //   features: [
  //     "Biaya transaksi sesuai rate dari Midtrans",
  //     "Jumlah produk tidak dibatasi (unlimited)",
  //     "Volume transaksi per bulan mulai dari 1,000",
  //     "Biaya transaksi penarikan dana Rp. 5,000",
  //     "Support via Email dan WhatsApp",
  //   ],
  //   button: {
  //     text: "Hubungi Kami",
  //     link: "/contact",
  //   },
  // },
];
---

<Layout title="Harga Layanan">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Harga Layanan</Fragment>
      <Fragment slot="desc">
        Daftar gratis dan tanpa biaya bulanan. <i>Risk free pricing!</i>
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-2xl mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>

    <div class="mt-16 py-4">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-slate-700">F.A.Q Harga</h2>
        <p class="text-xl mt-1 text-slate-500">
          Berikut beberapa pertanyaan yang sering diajukan mengenai harga
          layanan kami.
        </p>
      </div>

      <Accordion
        titles={[
          "Apa maksudnya komisi per transaksi?",
          "Apakah komisi bisa berubah setiap saat?",
          "Apa ada opsi paket bulanan?",
          "Apa itu Midtrans?",
        ]}
        content={[
          "Setiap kali pembeli melakukan pembayaran terhadap produk anda, itu adalah satu transaksi. Contoh: Apabila produk anda seharga Rp. 100,000 maka komisi yang kami dapatkan adalah 5% dari harga produk tersebut, yaitu Rp. 5,000 dan Anda akan mendapatkan Rp. 95,000.",
          "Kami pasti akan menaikkan komisi di masa depan seiring dengan manfaat dan fitur yang akan terus kami tingkatkan, tetapi hanya untuk pengguna baru. Pengguna yang sudah terdaftar akan tetap menggunakan komisi yang berlaku saat pendaftaran. Oleh karena itu, semakin awal Anda mendaftar maka semakin kecil komisi yang dikenakan.",
          "Untuk sementara belum ada. Tetapi kami paham bahwa apabila volume transaksi Anda cukup banyak maka opsi paket bulanan akan lebih hemat buat Anda. Kami menunggu masukan dari pengguna seperti Anda apabila membutuhkan opsi seperti itu. Silahkan hubungi kami apabila anda tertarik dengan opsi paket bulanan.",
          "Midtrans adalah layanan Payment Gateway yang kami pakai untuk menerima pembayaran dari pembeli. Ini memungkinkan kami menerima berbagai jenis opsi pembayaran sehingga bisa menjangkau lebih banyak pembeli. Midtrans adalah perusahaan yang sudah terdaftar di Bank Indonesia dan Kominfo jadi sudah terpercaya. Silahkan kunjungi website Midtrans untuk informasi lebih lanjut: https://midtrans.com",
        ]}
      />
    </div>
  </Container>
</Layout>
