---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import Accordion from "@components/ui/accordion.astro";
import Link from "@components/ui/link.astro";
const pricing = [
  {
    name: "Komisi per Penjualan",
    price: "5%",
    popular: true,
    features: [
      "JetForm Cloud (siap pakai, langsung jualan)",
      "Jumlah produk tidak dibatasi (unlimited)",
      "Jumlah penjualan tidak dibatasi (unlimited)",
      "Integrasi dengan aplikasi lain via Zapier",
      "Terima pembayaran instan dengan QRIS (*)",
      "Terima pembayaran Bank Transfer melalui VA (**)",
      "Statistik produk dan analytics",
      "Biaya penarikan dana Rp. 5,000",
      // ["Data export", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me/signup?utm_medium=pricing-payg-cta&utm_source=jetform-website",
    },
  },
  {
    name: "Self Hosted (***)",
    price: "Gratis",
    popular: false,
    features: [
      "Deploy sendiri di server Kamu",
      "Pakai suka-suka Kamu",
      "Konfigurasi suka-suka Kamu",
      "Pokoknya suka-suka Kamu deh... ah!",
    ],
    button: {
      text: "GitHub",
      link: "https://github.com/jetform-dev/jetform?utm_medium=pricing-github-cta&utm_source=jetform-website",
    },
  },
];
---

<Layout title="Harga Layanan">
  <Container class="bg-gradient-to-b from-primary-50 via-white">
    <Sectionhead>
      <Fragment slot="title">Harga Layanan</Fragment>
      <Fragment slot="desc">Sederhana, tanpa basa-basi.</Fragment>
    </Sectionhead>

    <div class="p-8 md:px-0">
      <div class="grid md:grid-cols-2 gap-10 mx-auto">
        {pricing.map((item) => <PricingCard plan={item} />)}
      </div>

      <p class="text-center text-sm text-slate-500 mt-8">
        (*) Setiap transaksi QRIS dikenakan biaya 0,7% oleh Payment Gateway.<br
        />
        (**) Setiap transaksi Transfer Bank (Virtual Account) dikenakan biaya antara Rp. 3,500 - 4,500 (tergantung bank) oleh
        Payment Gateway.<br />
        (***) Cara instalasi dan konfigurasi self-hosted belum tersedia. Kalau kamu
        tertarik menggunakan, silakan hubungi maintainer JetForm di GitHub.
      </p>

      <div class="mt-16 py-4">
        <div class="text-center mb-8">
          <h2 class="text-3xl font-bold text-slate-700">F.A.Q Harga</h2>
          <p class="text-xl mt-1 text-slate-500">
            Berikut beberapa pertanyaan yang sering diajukan mengenai harga
            layanan dan pembayaran.
          </p>
        </div>

        <Accordion
          titles={[
            // "Komisi vs Bulanan, mana yang sebaiknya saya pilih?",
            // "Apa bisa pindah dari Komisi ke Bulanan? Atau sebaliknya?",
            "Bagaimana perhitungan komisi per penjualan?",
            "Apakah komisi bisa berubah setiap saat?",
            "Apakah sistem pembayaran di JetForm aman?"
          ]}
          content={[
            // "Pertama kenali bisnis Anda. Jika Anda baru memulai dan belum memiliki banyak penjualan, maka Komisi adalah pilihan yang tepat karena Anda tidak perlu khawatir dengan biaya bulanan. Namun jika Anda sudah memiliki volume penjualan yang cukup besar, maka harga Bulanan akan lebih hemat.",
            // "Tentu saja bisa. Namun perlu diingat bahwa jika Anda pindah dari Komisi ke Bulanan, maka komisi yang sudah Anda bayarkan tidak bisa dikembalikan. Sebaliknya, jika Anda pindah dari Bulanan ke Komisi, maka Anda akan dikenakan komisi per penjualan yang berlaku saat itu.",
            "Pertama, Komisi adalah istilah lain dari potongan per penjualan di JetForm. Setiap kali pembeli melakukan pembayaran terhadap produk Kamu, itu adalah satu penjualan. Contoh: Apabila produk Kamu seharga Rp. 100,000 dan pembeli membayar pakai QRIS, maka akan terkena potongan 5% + 0.7% (QRIS) dari harga produk tersebut, yaitu Rp. 5,700 dan Kamu akan mendapatkan keuntungan bersih sebesar Rp. 94,300.",
            "Besar kemungkinannya kami akan menaikkan komisi di masa depan seiring dengan manfaat dan fitur yang akan terus kami tingkatkan, tetapi hanya untuk pengguna baru. Pengguna yang sudah terdaftar akan tetap menggunakan komisi yang berlaku saat pendaftaran. Oleh karena itu, semakin awal Kamu mendaftar maka semakin kecil komisi yang dikenakan.",
            "Karena JetForm bukanlah Payment Gateway, maka semua transaksi pembayaran akan dilakukan langsung di Payment Gateway provider yang Kami pilih dan percaya yaitu iPaymu. iPaymu (PT Inti Prima Mandiri Utama) adalah platform solusi pembayaran yang membantu bisnis untuk terhubung dengan penyedia jasa pembayaran (PJP) dengan satu integrasi yang mudah. iPaymu terdaftar di Kementerian Komunikasi dan Informatika Indonesia (Nomor: 004433.01/DJAI.PSE/07/2022) dan tersertifikasi PCIDSS."
          ]}
        />
      </div>
    </div>
  </Container>
</Layout>
