---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import Accordion from "@components/ui/accordion.astro";

const pricing = [
  {
    name: "Komisi per Penjualan",
    price: "5%",
    popular: true,
    features: [
      "Jumlah produk tidak dibatasi (unlimited)",
      "Jumlah penjualan tidak dibatasi (unlimited)",
      // "Biaya Payment Gateway 1% per transaksi",
      "Integrasi dengan aplikasi lain via Zapier",
      "Support via Email, WhatsApp dan Live Chat",
      "Biaya penarikan dana Rp. 5,000",
      ["Statistik produk dan analytics", "segera hadir"],
      ["Data export", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me/signup?utm_source=pricing-payg-cta&utm_medium=website",
    },
  },
  {
    name: "Per Bulan",
    price: "Rp. 149K",
    popular: false,
    features: [
      "Jumlah produk tidak dibatasi (unlimited)",
      "Jumlah penjualan tidak dibatasi (unlimited)",
      // "Biaya Payment Gateway 1% per transaksi",
      "Integrasi dengan aplikasi lain via Zapier",
      "Support via Email, WhatsApp dan Live Chat",
      "Biaya penarikan dana Rp. 5,000",
      ["Statistik produk dan analytics", "segera hadir"],
      ["Data export", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me/signup?utm_source=pricing-monthly-cta&utm_medium=website",
    },
  },
];
---

<Layout title="Harga Layanan">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Harga Layanan</Fragment>
      <Fragment slot="desc">Sederhana dan tanpa basa-basi.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>

    <div class="mt-16 py-4">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-slate-700">F.A.Q Harga</h2>
        <p class="text-xl mt-1 text-slate-500">
          Berikut beberapa pertanyaan yang sering diajukan mengenai harga
          layanan kami.
        </p>
      </div>

      <Accordion
        titles={[
          "Komisi vs Bulanan, mana yang sebaiknya saya pilih?",
          "Apa bisa pindah dari Komisi ke Bulanan? Atau sebaliknya?",
          "Apa itu komisi per transaksi?",
          "Apakah komisi bisa berubah setiap saat?",
          // "Apa itu biaya Payment Gateway?",
        ]}
        content={[
          "Pertama kenali bisnis Anda. Jika Anda baru memulai dan belum memiliki banyak penjualan, maka Komisi adalah pilihan yang tepat karena Anda tidak perlu khawatir dengan biaya bulanan. Namun jika Anda sudah memiliki volume penjualan yang cukup besar, maka harga Bulanan akan lebih hemat.",
          "Tentu saja bisa. Namun perlu diingat bahwa jika Anda pindah dari Komisi ke Bulanan, maka komisi yang sudah Anda bayarkan tidak bisa dikembalikan. Sebaliknya, jika Anda pindah dari Bulanan ke Komisi, maka Anda akan dikenakan komisi per penjualan yang berlaku saat itu.",
          "Pertama, Komisi adalah istilah lain dari potongan per penjualan di JetForm. Setiap kali pembeli melakukan pembayaran terhadap produk anda, itu adalah satu penjualan. Contoh: Apabila produk anda seharga Rp. 100,000 maka komisi yang kami dapatkan adalah 5% dari harga produk tersebut, yaitu Rp. 5,000 dan Anda akan mendapatkan Rp. 95,000. Namun, perhitungan ini tentu saja tidak berlaku di paket Bulanan.",
          "Besar kemungkinannya kami akan menaikkan komisi di masa depan seiring dengan manfaat dan fitur yang akan terus kami tingkatkan, tetapi hanya untuk pengguna baru. Pengguna yang sudah terdaftar akan tetap menggunakan komisi yang berlaku saat pendaftaran. Oleh karena itu, semakin awal Anda mendaftar maka semakin kecil komisi yang dikenakan.",
          // "Karena JetForm adalah aplikasi yang menerima pembayaran namun bukan merupakan platform Payment Gateway, maka kami mempercayakan kepada layanan pihak ketiga untuk memproses pembayaran dengan aman. Layanan tersebut tidak gratis, biayanya (1%) kami potong dari harga produk yang Anda jual.",
        ]}
      />
    </div>
  </Container>
</Layout>
