---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import Accordion from "@components/ui/accordion.astro";

const pricing = [
  {
    name: "Komisi per transaksi",
    price: "10%",
    popular: true,
    features: [
      "Komisi sudah termasuk biaya transaksi payment gateway (Midtrans)",
      "Akses tanpa batas ke semua fitur JetForm",
      "Jumlah produk tidak dibatasi (unlimited)",
      "Volume transaksi tidak dibatasi (unlimited)",
      "Gratis hosting file produk (foto, ebook, desain, kode sumber, Zip file, dll)",
      "Biaya transaksi penarikan dana Rp. 5,000 (Midtrans)",
      "Support via Email dan WhatsApp",
      ["Statistik produk dan analytics", "segera hadir"],
      ["Download data produk, pembeli dan order", "segera hadir"],
      ["Integrasi dengan platform lain melalui Zapier", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me?utm_source=pricing_btn&utm_medium=website",
    },
  },
  // {
  //   name: "Paket Bulanan",
  //   price: "Custom",
  //   popular: false,
  //   features: [
  //     "Biaya transaksi sesuai rate dari Midtrans",
  //     "Jumlah produk tidak dibatasi (unlimited)",
  //     "Volume transaksi per bulan mulai dari 1,000",
  //     "Biaya transaksi penarikan dana Rp. 5,000",
  //     "Support via Email dan WhatsApp",
  //   ],
  //   button: {
  //     text: "Hubungi Kami",
  //     link: "/contact",
  //   },
  // },
];
---

<Layout title="Harga Layanan">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Harga Layanan</Fragment>
      <Fragment slot="desc">
        Semangat <i>anti ribet</i> juga kami terapkan dalam menentukan harga.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-2xl mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>

    <div class="mt-16 py-4">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-slate-600">F.A.Q Harga</h2>
        <p class="text-xl mt-1 text-slate-500">
          Berikut beberapa pertanyaan yang sering diajukan mengenai harga
          layanan kami.
        </p>
      </div>

      <Accordion
        titles={[
          "Komisi JetForm 10 pesen? yang lain cuma 5 persen",
          "Apa ada opsi paket bulanan?",
          "Apa itu Midtrans?",
          "Berapa biaya Midtrans?",
        ]}
        content={[
          "Komisi 10% sangatlah normal di bidang jasa, JetForm adalah penyedia jasa, jasa meringankan beban anda saat berjualan, memastikan anda menerima pembayaran, memastikan produk anda diterima pembeli sehingga anda punya lebih banyak waktu bersama keluarga tercinta atau makin gencar berpromosi dan memasarkan. Tidak ada biaya pembuatan akun, tidak ada biaya bulanan, benar-benar bebas risiko. Kalaupun JetForm tidak cocok dengan bisnis anda, anda bisa berhenti kapan saja.",
          "Kami sangat mengerti bahwa apabila volume transaksi Anda cukup banyak maka opsi paket bulanan akan lebih hemat buat Anda. Apabila Anda membutuhkan opsi ini, silahkan hubungi kami sehingga segera bisa dipersiapkan.",
          "Midtrans adalah layanan Payment Gateway yang kami pakai untuk menerima pembayaran dari pembeli. Ini memungkinkan kami menerima berbagai jenis opsi pembayaran sehingga bisa menjangkau lebih banyak pembeli. Midtrans adalah perusahaan yang sudah terdaftar di Bank Indonesia dan Kominfo jadi sudah terpercaya. Silahkan kunjungi website Midtrans untuk informasi lebih lanjut: https://midtrans.com",
          "Untuk detail biaya dari Midtrans silahkan Anda kunjungi website mereka di https://midtrans.com/pricing. Seperti yang Anda akan lihat, mereka memiliki rate komisi berbeda-beda tergantung dari jenis pembayaran yang digunakan. Berdasarkan biaya tersebut kami memutuskan untuk menetapkan komisi 10% sebagai biaya layanan JetForm, yang akan dipakai untuk membayar biaya transaksi dari Midtrans, pengembangan, support dan operasional lainnya.",
        ]}
      />
    </div>
  </Container>
</Layout>
