---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import Accordion from "@components/ui/accordion.astro";

const pricing = [
  {
    name: "Pay As You Go",
    price: "5% / transaksi",
    popular: true,
    features: [
      "Jumlah produk tidak dibatasi (unlimited)",
      "Volume transaksi tidak dibatasi (unlimited)",
      "Sudah termasuk biaya transaksi dari Midtrans",
      "Biaya transaksi penarikan dana Rp. 5,000",
      "Support via Email dan WhatsApp",
      ["Statistik produk dan analytics", "segera hadir"],
      ["Data export", "segera hadir"],
      ["Integrasi dengan Zapier", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me/signup?utm_source=pricing-payg-cta&utm_medium=website",
    },
  },
  {
    name: "Per Bulan",
    price: "Rp. 99rb",
    popular: false,
    features: [
      "Jumlah produk tidak dibatasi (unlimited)",
      "Jumlah transaksi per bulan: 1,000",
      "Biaya per transaksi sesuai rate dari Midtrans",
      "Biaya transaksi penarikan dana Rp. 5,000",
      "Support via Email dan WhatsApp",
      ["Statistik produk dan analytics", "segera hadir"],
      ["Data export", "segera hadir"],
      ["Integrasi dengan Zapier", "segera hadir"],
    ],
    button: {
      text: "Daftar Sekarang",
      link: "https://app.jetform.me/signup?utm_source=pricing-monthly-cta&utm_medium=website",
    },
  },
];
---

<Layout title="Harga Layanan">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Harga Layanan</Fragment>
      <Fragment slot="desc">Simple and Flexible pricing!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>

    <div class="mt-16 py-4">
      <div class="text-center mb-8">
        <h2 class="text-3xl font-bold text-slate-700">F.A.Q Harga</h2>
        <p class="text-xl mt-1 text-slate-500">
          Berikut beberapa pertanyaan yang sering diajukan mengenai harga
          layanan kami.
        </p>
      </div>

      <Accordion
        titles={[
          "Apa itu komisi per transaksi?",
          "Apakah komisi bisa berubah setiap saat?",
          "Apa itu Midtrans?",
          "Berapa biaya Midtrans?",
        ]}
        content={[
          "Setiap kali pembeli melakukan pembayaran terhadap produk anda, itu adalah satu transaksi. Contoh: Apabila produk anda seharga Rp. 100,000 maka komisi yang kami dapatkan adalah 5% dari harga produk tersebut, yaitu Rp. 5,000 dan Anda akan mendapatkan Rp. 95,000.",
          "Kami pasti akan menaikkan komisi di masa depan seiring dengan manfaat dan fitur yang akan terus kami tingkatkan, tetapi hanya untuk pengguna baru. Pengguna yang sudah terdaftar akan tetap menggunakan komisi yang berlaku saat pendaftaran. Oleh karena itu, semakin awal Anda mendaftar maka semakin kecil komisi yang dikenakan.",
          "Midtrans adalah layanan Payment Gateway yang kami pakai untuk menerima pembayaran dari pembeli. Ini memungkinkan kami menerima berbagai jenis opsi pembayaran sehingga bisa menjangkau lebih banyak pembeli. Midtrans adalah perusahaan yang sudah terdaftar di Bank Indonesia dan Kominfo jadi sudah terpercaya. Silahkan kunjungi website Midtrans untuk informasi lebih lanjut: https://midtrans.com",
          "Untuk detail biaya dari Midtrans silahkan Anda kunjungi website mereka di https://midtrans.com/pricing. Seperti yang Anda akan lihat, mereka memiliki rate komisi berbeda-beda tergantung dari jenis pembayaran yang digunakan.",
        ]}
      />
    </div>
  </Container>
</Layout>
