---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Hubungi Kami">
  <Container class="bg-gradient-to-b from-primary-50 via-white"> 
    <Sectionhead>
      <Fragment slot="title">Kami pendengar yang baik.</Fragment>
      <Fragment slot="desc">
        Tidak ada yang lebih membanggakan selain melihat Anda sukses jualan online. <span class="font-bold">Jangan pernah ragu</span> untuk menghubungi jika ada kendala, pertanyaan, ataupun sekadar say-hello 👋
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto p-8 md:px-0">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 mt-5">JetForm</h2>
        <div class="mt-1">
          <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Ubud 80571, Gianyar, Bali</span>
          </div> -->
          <div class="flex items-center mt-2 space-x-2 text-primary-500">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:support@jetform.id">support@jetform.id</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-primary-500">
            <Icon class="text-gray-400 w-4 h-4" name="uil:whatsapp" />
            <a
              href="https://wa.me/6282340492550" target="_blank">0823-4049-2550</a
            >
          </div>
          <div class="flex items-start mt-2 space-x-2 text-sm text-gray-500">
            <Icon class="text-gray-400 w-5 h-5" name="uil:clock-two" />
            <span>Apabila kami tidak membalas dalam 1 jam,<br/>kami ikhlas Anda beralih ke lain hati 😢</span>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
