---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Hubungi Kami">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Hubungi Kami</Fragment>
      <Fragment slot="desc">
        <div class="max-w-2xl mx-auto text-slate-600 text-lg">
          Ada pertanyaan, ide, atau masukan? Kami mendengarkan👂
        </div>
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <p class="text-lg leading-relaxed text-slate-500">
          Hubungi kami melalui email atau nomor WhatsApp di bawah 👇 atau gunakan form kontak berikut 👉
        </p>
        <h2 class="font-medium text-2xl text-gray-800 mt-5">JetForm</h2>
        <div class="mt-1">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Ubud 80571, Kab. Gianyar, Bali</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:support@jetform.me">support@jetform.me</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:whatsapp" /><a
              href="tel:+6281 339 512 507">+6281 339 512 507</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
