---
import Link from "./ui/link.astro";
---

<div
  class="p-8 md:mx-20 md:py-20 rounded-lg flex flex-col items-center text-center bg-primary-600">
  <h2 class="text-white text-4xl md:text-5xl tracking-tight font-semibold">
    Ada ide menarik?
  </h2>
  <p class="max-w-3xl text-primary-200 mt-4 text-lg">
    Sebagai produk yang sangat baru, pastinya JetForm memiliki banyak
    kekurangan. Namun justru itu, kami sangat membutuhkan masukan dan ide dari
    Kamu untuk membuat JetForm benar-benar menjadi platform penjualan kamu
    impikan selama ini.
  </p>
  <div class="flex mt-5">
    <Link
      href="/kontak"
      id="footer-signup-cta"
      data-umami-event="footer-signup-cta"
      size="lg"
      style="inverted"
      rel="noopener">
      Hubungi Kami <span aria-hidden="true">→</span>
    </Link>
  </div>
</div>
