<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} JetForm. All rights reserved.
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-400 mt-1">
    JetForm adalah <a
      href="https://github.com/jetform-dev/jetform"
      target="_blank"
      rel="noopener"
      class="hover:underline text-primary-500">software open source</a
    >. Made with ❤️ in Bali.
  </p>

  <p class="text-center text-xs text-slate-400 mt-4">
    <a href="/tos" class="hover:underline text-primary-500"
      >Syarat dan Ketentuan</a
    > | <a href="/privasi" class="hover:underline text-primary-500"
      >Kebijakan Privasi</a
    > | <a
      href="https://stats.uptimerobot.com/3PKDyI8CCe"
      target="_blank"
      rel="noopener"
      class="hover:underline text-primary-500">Status Sistem</a
    >
    <br />
    Website designed by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline text-primary-500">Web3Templates</a
    >.
  </p>
</footer>
