---
import { Picture } from "astro:assets";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="place-items-center p-20">
  <h1
    class="max-w-lg mx-auto text-center text-3xl md:text-5xl text-slate-800 font-semibold md:tracking-tight">
    Form checkout instan untuk <span class="text-primary-600">produk digital</span>
  </h1>
  <p class="max-w-lg mx-auto text-center text-lg mt-4 text-slate-600">
    Maksimalkan keuntungan Anda dengan platform penjualan yang menangani pemesanan, pembayaran, hingga distribusi produk ke pembeli secara otomatis.
  </p>
  <div class="text-center mt-6">
    <Link
      href="/demo"
      id="hero-demo-cta"
      data-umami-event="hero-demo-cta"
      size="lg"
      rel="noopener">
      Coba demo <span aria-hidden="true">→</span>
    </Link>
  </div>
</main>
