---
import { Picture } from "astro:assets";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 gap-14 place-items-center p-8 md:px-20 md:py-8 bg-gradient-to-b from-primary-50 via-white border-b">
  <div class="pt-6 md:pt-0 md:order-1 order-1 md:block">
    <Picture
      src="/hero.png"
      width={800}
      height={600}
      alt="JetForm - Solusi pintar menjual produk digital"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-4xl md:text-5xl text-slate-700 font-bold md:tracking-tight mt-6">
      Form order produk digital <span class="text-primary-500"
        >untuk jualan di segala medan<i>!</i></span
      >
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      JetForm adalah software Open Source yang bisa dijadikan alternative selain
      OrderOnline, Tribelio, Lynk.id dan kawan-kawan.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://app.jetform.me/signup?utm_source=hero-signup-cta&utm_medium=website"
        id="hero-signup-cta"
        data-umami-event="hero-signup-cta"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Daftar Sekarang
      </Link>
      <Link
        size="lg"
        style="outline"
        href="https://github.com/jetform-dev?utm_source=hero-github-cta&utm_medium=website"
        target="_blank"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-primary-600 w-5 h-5" name="mdi:github" />
        GitHub
      </Link>
    </div>
  </div>
</main>

<!-- <div class="text-center mt-4">
  <a
    href=""
    class="bg-yellow-50 hover:bg-yellow-100 text-yellow-600 text-sm border border-yellow-600 py-2 px-4 rounded-full"
    target="_blank"
    ><Icon class="text-yellow-600 w-4 h-4 me-1 inline" name="mdi:download" /> Download
    E-book "Zero To Programmer" via JetForm</a
  >
</div> -->
