---
import { Image } from "astro:assets";
import Link from "@components/ui/link.astro";
import drawing from "../../public/draw-1.png";
---

<main class="flex-col place-items-center pt-10 pb-20 px-4">
  <div class="mx-auto mt-4 max-w-xl mb-6">
    <Image src={drawing} alt="Jetform bikin jualan happy dan cuan!"/>
  </div>
  <h1
    class="max-w-xl mx-auto text-center text-4xl md:text-5xl text-slate-800 font-semibold md:tracking-tight">
    Form checkout instan untuk <span class="text-primary-600">produk digital</span>
  </h1>
  <p class="max-w-xl mx-auto text-center text-lg mt-4 text-slate-500">
    Maksimalkan keuntungan dengan sistem penjualan otomatis yang menangani pesanan, pembayaran, hingga distribusi produk.
  </p>
  <div class="text-center mt-10">
    <Link
      href="https://app.jetform.id/signin?utm_medium=hero-cta&utm_source=website"
      target="_blank"
      id="hero-cta"
      data-umami-event="hero-cta"
      size="lg"
      rel="noopener">
      Daftar Sekarang
    </Link>
  </div>
</main>
