---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24 max-w-2xl mx-auto">
  <h2 class="text-center text-xl text-slate-500">
    Apa yang bisa dijual dengan JetForm? Imaginasi Anda adalah batasnya.
  </h2>
  <div class="flex gap-2 items-center justify-center mt-6 flex-wrap">
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> E-book
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> Desain
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> Template Website
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> Kode Sumber
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> Video
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> Audio
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> Link
    </div>
    <div class="p-2 px-4 bg-slate-600 rounded text-md text-white">
      <Icon name="bx:bx-check" class="h-5 inline" /> dan lain sebagainya...
    </div>
    <!-- <Icon class="h-8 md:h-12" name="ant-design:file-pdf-outlined" />
    <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" /> -->
  </div>
</div>
