<main class="place-items-center p-20">
  <h1
    class="max-w-lg mx-auto text-center text-3xl md:text-5xl text-slate-800 font-semibold md:tracking-tight">
    <slot name="title">Title</slot>
  </h1>
  <p class="max-w-lg mx-auto text-center text-lg mt-4 text-slate-600">
    <slot name="desc">Some description goes here</slot>
  </p>
</main>