---
const { item } = Astro.props;
---

<span>{item[0]}
    <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-orange-500 rounded-full">{item[1]}</span>
</span>
